<div class="pagination-container">
  <div class="character-list">
    <div *ngFor="let character of characterList" class="character-card">
      <img [src]="character.image" [alt]="character.name" />
      <h3>{{ character.name }}</h3>
      <p>Status: {{ character.status }}</p>
      <p>Estado: {{ character.status }}</p>
      <p>Especie: {{ character.species }}</p>
      <p>Ubicación: {{ character.location.name }}</p>
    </div>
  </div>

  <nav aria-label="Page navigation example">
    <ul class="inline-flex -space-x-px text-sm">
      <li>
        <button
          (click)="PrevPage()"
          [disabled]="!prevPage"
          class="flex items-center justify-center px-3 h-8 ms-0 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700"
        >
          Previous
        </button>
      </li>
      <li>
        <button
          (click)="NextPage()"
          [disabled]="!nextPage"
          class="flex items-center justify-center px-3 h-8 ms-0 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700"
        >
          Next
        </button>
      </li>
    </ul>
  </nav>
</div>
